---
---

$page-width: 800px;

$text-color: #111;
$link-color: #444;

$light-text-color: #fff;
$light-link-color: #fff;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #222;
  min-height: 100vh;
  background-image: url('{{ '/img/placeholder.jpg' | prepend: site.baseurl | prepend: site.url }}');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 12pt;

  @media (max-width: $page-width) {
    font-size: 11pt;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 600;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-right {
  margin-left: auto;
}

.container {
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-flash {
  background-color: {{ site.header_flash_color }};
  color: $light-text-color;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;

  p {
    margin: 0;
  }

  a {
    color: $light-link-color;
    border-bottom: 1px dotted $light-link-color;

    &:hover {
      color: darken($light-link-color, 20);
      border-color: darken($light-link-color, 20);
    }
  }
}

.header-nav {
  background-color: #303845;
  color: $light-text-color;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  .flex-right li:not(:last-child) {
    margin-right: 20px;
  }

  a {
    color: $light-text-color;
    text-decoration: none;
  }

  h1 {
    margin: 0;
    font-size: inherit;
  }

  @media (max-width: $page-width) {
    text-align: center;

    .flex-right {
      padding-top: 10px;
      width: 100%;
    }
  }


}

.header-logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  margin-top: 20px;
  line-height: 1.5rem;

  a {
    color: $link-color;
    border-bottom: 1px dotted $link-color;

    &:hover {
      color: lighten($link-color, 20);
      border-color: lighten($link-color, 20);
    }
  }

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.175rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 0.8rem;
  }
}

.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $light-text-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;

      @media (max-width: $page-width) {
        padding-bottom: 10px;
      }
    }
  }

  a {
    color: $light-link-color;
    border-bottom: 1px dotted $light-link-color;

    &:hover {
      color: darken($light-link-color, 20);
      border-color: darken($light-link-color, 20);
    }
  }
}

.large-calendar {
  @media (max-width: $page-width) {
    display: none;
  }
}

.small-calendar {
  @media (min-width: $page-width) {
    display: none;
  }
}
